<form name="forgotPassword"
  ng-submit="vm.resetPassword(vm.forgotPassword.email)"
  role="form"
  novalidate>

  <div class="row">
    <div class="large-12 columns">
      <label>Email
        <input type="email"
          name="email"
          id="email"
          ng-model="vm.forgotPassword.email"
          placeholder="Email"
          required/>
      </label>
    </div>
  </div>

  <div class="row">
    <alert ng-show="vm.emailState==vm.emailStates.validEmailState"
      id="valid"
      class="large-12 columns">
      An email has been sent with further instructions.
    </alert>

    <alert type="'alert'"
      ng-show="vm.emailState==vm.emailStates.invalidEmailState"
      id="invalid"
      class="large-12 columns">
      The entered email is not a valid email.
    </alert>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <button type="submit"
        id="reset-password">
        Reset Password
      </button>
      
      <button type="button"
        ui-sref="login"
        id="login">
        Return to Sign In
      </button>
    </div>
  </div>
</form>
