<div class="profile-page">
  <div class="row user-information">
      <img class="th user-avatar" src="img/avatar.png">
    <div class="user-name">
      <span class="role">Developer</span>    
      <h2>Frank Poole</h2>
    </div>
  </div>

  <tabset vertical="true" class="profile-info row">
   <tab heading="Edit Profile">
     <edit-profile></edit-profile>
   </tab>
   <tab heading="Update Password">
     <update-password></update-password>
   </tab>
   <tab heading="Manage SSH keys">
     <ssh-keys></ssh-keys>
   </tab>
   <tab heading="Organizations">
     <organizations></organizations>
   </tab>
 </tabset>
</div>
