<div class="update-password">
  <div class="row old-password">
    <div class="columns small-6">
      <label> Old Password
        <input type="text"
          name="firstName"
          ng-model="vm.user.firstName">
      </label>
    </div>
  </div>

  <div class="row old-password">
    <div class="columns small-6">
      <label> New Password
        <input type="text"
          name="firstName"
          ng-model="vm.user.firstName">
      </label>
    </div>

      <div class="password-strength columns small-6">
          <label>
            Password Strength
            <progressbar value="22" type="warning"></progressbar>
          </label>
      </div>
  </div>

  <div class="row old-password">
    <div class="columns small-6">
      <label> New Password Again
        <input type="text"
          name="firstName"
          ng-model="vm.user.firstName">
      </label>
    </div>
  </div>

  <div class="row submit">
    <button type="button"
      name="updatePassword"
      class="profile-button"
      ng-click="updatePassword()">
      Update Password
    </button>
  </div>
</div>
